<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.mapper.MemoryMapper">

    <insert id="saveMemory">
        INSERT INTO aihub.memory (memory_id, content) VALUES (#{memoryId}, #{content})
    </insert>

    <update id="updateMemory">
        UPDATE aihub.memory SET content = #{content} WHERE memory_id = #{memoryId}
    </update>

    <delete id="deleteMemory">
        DELETE FROM memory WHERE memory_id = #{memoryId}
    </delete>

    <select id="getMemory" resultType="java.lang.String">
        SELECT content FROM aihub.memory WHERE memory_id = #{memoryId}
    </select>

    <select id="getMemoryType" resultType="java.lang.String">
        SELECT 'chat_title' AS table_name
        FROM chat_title
        WHERE memory_id = #{memoryId}
        UNION ALL
        SELECT 'medical_title' AS table_name
        FROM medical_title
        WHERE memory_id = #{memoryId}
        UNION ALL
        SELECT 'travel_title' AS table_name
        FROM travel_title
        WHERE memory_id = #{memoryId}
        UNION ALL
        SELECT 'pdf_title' AS table_name
        FROM pdf_title
        WHERE memory_id = #{memoryId};
    </select>
</mapper>
