<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.mapper.PdfMapper">

    <resultMap id="titleVo" type="com.dai.vo.TitleVo">
        <result property="id" column="memory_id"/>
        <result property="title" column="title"/>
    </resultMap>

    <resultMap id="historyVo" type="com.dai.vo.HistoryVo">
        <result property="sender" column="role"/>
        <result property="content" column="content"/>
    </resultMap>

    <insert id="saveHistory">
        INSERT INTO pdf_message (memory_id, role, content)
        VALUES (#{memoryId}, #{role}, #{content})
    </insert>

    <insert id="saveFile">
        INSERT INTO pdf_title (user_id, memory_id, file_name, url)
        VALUES (#{userId}, #{memoryId}, #{fileName}, #{url})
    </insert>

    <insert id="saveTitle">
        INSERT INTO pdf_title (user_id, memory_id, title)
        VALUES (#{userId}, #{memoryId}, #{title})
    </insert>

    <delete id="deleteHistory">
        DELETE FROM pdf_message WHERE memory_id = #{memoryId}
    </delete>

    <update id="updateTitle">
        update pdf_title set title = #{title} where memory_id = #{memoryId}
    </update>

    <delete id="deleteTitle">
        DELETE FROM pdf_title WHERE memory_id = #{memoryId}
    </delete>

    <select id="getUserTitles" resultMap="titleVo">
        SELECT memory_id, title FROM aihub.pdf_title t1
            INNER JOIN aihub.user t2 ON t1.user_id = t2.id
        WHERE t2.id = #{UserId}
        ORDER BY t1.id DESC
    </select>

    <select id="getHistoryDetails" resultMap="historyVo">
        SELECT aihub.pdf_message.role, aihub.pdf_message.content from aihub.pdf_message
        WHERE aihub.pdf_message.memory_id = #{memotyId}
    </select>

    <select id="getFileName" resultType="java.lang.String">
        SELECT aihub.pdf_title.file_name from aihub.pdf_title
        WHERE aihub.pdf_title.memory_id = #{memotyId}
    </select>

    <select id="getUrl" resultType="java.lang.String">
        SELECT aihub.pdf_title.url from aihub.pdf_title
        WHERE aihub.pdf_title.memory_id = #{memotyId}
    </select>
</mapper>